<launch>

    <!--mapping param-->
    <param name="using_loop"                        type="int"     value="1" />
    <param name="add_gps_edge"                      type="int"     value="0" />
  	<param name="using_gps_data"     		            type="int"     value="1" />
    <param name="save_odom_path"                    type="int"     value="1" />
  	<param name="save_gps_path"     		            type="int"     value="1" />   
    <param name="save_gps_correspond_odom_data"     type="int"     value="1" />
    <param name="gps_max_cov"     		              type="double"   value="0.12" />
  	<param name="publish_range_map"     		        type="double"   value="500.0" /> 
    <param name="plicp_search_radius"     		      type="double"   value="50.0" /> 
    <param name="icp_loop_history_search_num"       type="double"   value="10" />
    <param name="icp_loop_radius"     		          type="double"   value="8.0" /> 
    <param name="icp_loop_score"     		            type="double"   value="0.2" /> 
    <param name="save_pcd_dir"     		              type="str"      value="$(env HOME)/sweeper_ws/src/to" /> 

    <!--get feature param-->
    <param name="the_corner_min_curvature"          type="double"   value="0.05" />
  	<param name="the_surface_max_curvature"         type="double"   value="0.0005" />
  	<param name="the_min_hight"     		            type="double"   value="0.04" />
    <param name="view_max_distance"     		        type="double"   value="50" />
    <param name="view_min_distance"     		        type="double"   value="0.2" />
    <param name="outlier_min_distance"     		      type="double"   value="0.05" />
    <param name="the_min_intensity_difference"      type="double"   value="150" />
    <param name="the_max_intensity_hight"           type="double"   value="0.5" />
    <param name="the_min_slope_difference"          type="double"   value="0.5" />
    <param name="livox_z"     		                  type="double"   value="1.9921" />

    <node pkg="calib_lidar_to_gps_imu" type="get_feature1"       name="get_feature1"       output="screen" />
    <node pkg="calib_lidar_to_gps_imu" type="calib_gps_odom" name="calib_gps_odom" output="screen" />
    <node pkg="calib_lidar_to_gps_imu" type="fusion_imu_sweeper_odom" name="fusion_imu_sweeper_odom" output="screen" />
    <!--node pkg="calib_lidar_to_gps_imu" type="fusion_gps_imu_odom" name="fusion_gps_imu_odom" output="screen" >
    <param name="gps_to_imu_pitch"     		              type="double"      value="0.0" /> 
    </node-->
    
</launch>