<launch>
<rosparam command="load" file="../sweeper_ws/src/sweeper_haide/calibration/data/mapping_localization.yaml" />
    <node pkg="mapping" type = "mapping_node" name = "mapping_node" output = "screen">
    <param name="using_loop"               type="bool"     value="true" />
    <param name="using_gps_data"           type="bool"     value="true" />
  	<param name="using_imu_data"     	   type="bool"     value="true" />
    <param name="pub_global_map"           type="bool"     value="true" />
  	<param name="using_debug_mode"     	   type="bool"     value="true" />   
    <param name="use_loop_closure"     	   type="bool"     value="false" />  
    <param name="init_mapping"     	   type="bool"     value="true" />   
    <param name="need_init_mapping"     	   type="bool"     value="true" /> 
    <!--param name="matcher_times"     	   type="bool"     value="8" /> 
    <param name="need_init_mapping"     	   type="bool"     value="true" /--> 

    <param name="corner_map_filter"     	   type="double"     value="0.4" /> 
    <param name="surf_map_filter"                type="double"     value="0.8" />
    <param name="intensity_map_filter"     	   type="double"     value="0.4" /> 
    <param name="corner_filter"     	   type="double"     value="0.4" /> 
    <param name="surf_filter"     	   type="double"     value="0.8" /> 
    <param name="intensity_filter"     	   type="double"     value="0.4" /> 

    <param name="save_corner_size"     	   type="double"     value="0.3" /> 
    <param name="save_surf_size"     	   type="double"     value="0.5" /> 
    <param name="save_intensity_size"     	   type="double"     value="0.3" /> 
    <param name="save_map_size"     	   type="double"     value="0.3" /> 

    <!--feature参数-->
    <param name="livox_hight"     	   type="double"     value="1.79" /> 
    <param name="corner_min_curvature"     	   type="double"     value="0.01" /> 
    <param name="surf_max_curvature"     	   type="double"     value="0.005" />
    <param name="the_min_hight"     	   type="double"     value="0.06" /> 
    <param name="intensity_min_different"     	   type="double"     value="15.0" /> 
    <param name="min_slope_different"     	   type="double"     value="0.1" />
    <param name="max_z_hight"     	   type="double"     value="0.06" />
    
    </node>
</launch>