<launch>

<rosparam command="load" file="$(find mapping)/config/mapping_localization.yaml" />

<node pkg="mapping" type = "matcher_node" name = "matcher_node" output = "screen">
  <param name="max_iteration"                 type="double"   value="5" />
  <param name="allow_open_lidar_odom"         type="bool"     value="true" />
  <param name="use_ndt_mode"         type="bool"     value="false" />

  <param name="use_imu_data"         type="bool"     value="true" />
  <param name="use_odom_data"         type="bool"     value="true" />
  <param name="use_gnss_data"         type="bool"     value="true" />
  <!--小图模式，小图模式为过路口设计，不回环，不用gps数据-->
  <param name="use_small_map_mode"         type="bool"     value="true" />
  

</node>
</launch>